#boat {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  animation:
    moveForward 19s linear infinite alternate,
    boatRock 9s ease-in-out infinite;
  transform-origin: 50% 100%;
}
#boat-static {
  z-index: 10; 
  position: absolute;
  bottom: 40px;
  animation: boatRock 9s ease-in-out infinite;
}

@keyframes moveForward {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes boatRock {
  0%,
  100% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(-8deg);
  }
}

.water {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  background: #4dc3ff;
  width: 100%;
  height: 48px;
  opacity: 0.7;
  animation: animateWave 4s ease-in-out infinite;
}

@keyframes animateWave {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
